<header>
  <div class="logo">
    <% logo = image_tag('team5logo.png', :alt => 'TEAM5OAGS') %>
    <%= link_to logo, root_path %>
  </div>
 <div class="header_controls">
   <!-- This login_controls div may be an AJAX template -->
   <% if signed_in? %>
      <div id="login_controls">
     <%= link_to 'My Account', current_user %> | <%= link_to 'Sign out', signout_path, method: "delete" %>
   </div> 
   <% else %>
     <div id="login_controls">
       <%= link_to 'Sign In', signin_path %> | <%= link_to 'Register', signup_path %>
     </div>
    <% end %>

   <div id="navigation">
     <%= render 'layouts/navigation' %>
   </div>
 </div>
</header>