<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container">
  <% if @title == 'Sign up' || @title == 'Sign in' %>
      <div class="user_forms">
        <%= render 'layouts/login/login_header' %>
        <%= yield %>
        <%= render 'layouts/login/login_footer' %>
      </div>
  <% else %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  <% end %>

 <%= yield %> 

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development?  %>

</div>
</body>
</html>